.leaderboardName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 12em;
}

@media screen and (max-width: 500px) {
    .leaderboardName {
        max-width: 7em;
        padding-right: 3em;
    }
}

@media screen and (max-width: 350px) {
    .leaderboardName {
        max-width: 5em;
    }
}
