nav * {
    margin: 0;
    padding: 0;
    color: #eee;
}

.navBar { position: relative; padding-top: 3.4em; }

.navBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: var(--bg);
    z-index: 999;
}

.navBar .openClose {
    position: fixed;
    left: 1em;
    top: 1em;
    z-index: 1000;
    cursor: pointer;
    background: transparent;
    border: none;
}

.openNav { stroke: #fff; width: 3em; height: 3em; }
.closeNav { stroke: var(--text); width: 3em; height: 3em; }

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    background-color: #223;
    width: 0;
    overflow: hidden;
    max-width: 220px;
    z-index: 999;
}

.menuNav.showMenu {width: 100%;}

.link {
    display: block;
    padding: 1em 1.6em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.signin {
    padding: 1em 1.6em;
    font-weight: bold;
}

.signin > p {
    max-width: 50%;
    text-overflow: ellipsis;
    margin: auto 0;
    overflow: hidden;
}

.signin > button {
    height: 2.5rem;
    display: block !important;
    cursor: pointer;
}

.signinNav > button {
    background-color: #525284 !important;
}

.signinPage > button {
    background-color: var(--link) !important;
    color: var(--bg) !important;
}

.menuNav li:first-child {
    margin-top: 3rem;
}

.menuNav li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}
