nav {
    display: flex;
    justify-content: space-between;
    background: #333;
    align-items: baseline;
}
nav * {
    margin: 0;
    padding: 0.2em 0;
    color: #eee;
}
nav a {
    text-decoration: none;
}

.settings {
    padding-right: 1em;
}

.navlinks {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
}

.navlinks a {
    padding-right: 3em;
    padding-left: 1em;
}